            .site-title{
                font-family:  avenir;
                margin-left: 0.5%;
                font-size: 20pt;
            }



            .dropbtn {
            background-color: white;
            color: black;
            padding: 10px;
            font-size: 16px;
            border: none;
            cursor: pointer;
            }
  
            .dropdown {
            position: relative;
            display: inline-block;
            }
  
            .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 
                0px rgba(0, 0, 0, 0.2);
            z-index: 1;
            }
  
            .dropdown-content a {
            color: black;
            padding: 10px 16px;
            text-decoration: none;
            display: block;
            }
  
            .dropdown-content a:hover {
            background-color: #f5f5f5;
            }
  
            .dropdown:hover .dropdown-content {
            display: block;
            }
  
            .dropdown:hover .dropbtn {
            background-color: #7d97b0;
            }

            .layer{
                width: 100vw;
                height: 100vh;
                position: fixed;
                mix-blend-mode: : multiply;
            }



            